@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: adelline;
    src: url(../fonts/adelline.ttf);
    font-weight: normal;
}

h1 {
    font-family: adelline;
}

p,
h2,
h3,
h4,
span,
ul,
li,
small,
a div {
    font-family: 'Montserrat', sans-serif;
}

section img {
    width: 100%;
}

header .navbar img {
    width: 200px;
}

header {
    padding: 10px 0;
}

@media (min-width: 1200px) {
    .container {
        max-width: 80% !important;
    }
}

.navbar-light .navbar-nav .nav-link {
    color: #414042;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
}

.section-1-bg {
    background: url(../img/banner.jpg);
    height: 100vh;
    background-size: cover;
}

.banner-left-content {
    height: 100%;
    display: flex;
    align-items: center;
}

.banner-inner-content {}

h1 {
    font-size: 110px;
    color: #403f41;
}

h3 {
    font-size: 33px;
    font-weight: 500;
    color: #403f41;
}

.banner-inner-content p {
    color: #403f41;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 28px;
}

a.banner-btn {
    background-color: #9e27b5;
    padding: 6px 21px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

img.sec-2-logo {
    width: 200px;
    /* height: 100%; */
    height: 100px;
    padding-top: 35px;
    /* padding-left: 18px; */
}

section.sec-2 {
    padding-top: 20px;
    padding-bottom: 70px;
}

h3.sec-2-subHeading {
    text-align: center;
    display: inline-flex;
    justify-content: space-evenly;
    /* width: fit-content; */
    padding: 14px 36px;
    background-color: #00b2e2;
    color: #fff;
    border-radius: 39px;
    margin-bottom: 55px;
}

.DvSubHeading {
    text-align: CENTER;
}

p {
    font-size: 22px;
    font-weight: 500;
    color: #929498;
}

img.quality-img {}

.sec-inner-contet {
    padding-left: 40px;
}

section.sec-3 .col-content {
    padding-right: 50px;
}

section.sec-4 {
    padding-top: 50px;
}

section.sec-4 .col-content {
    padding-left: 40px;
}

section.sec-5 h2 {
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    padding-bottom: 30px;
}

section.sec-5 {
    padding-top: 140px;
    padding-bottom: 50px;
}

section.sec-5 h3 {
    font-size: 19px;
    text-transform: uppercase;
    background: #00b2e2;
    /* display: flex; */
    text-align: center;
    width: fit-content;
    /* justify-content: center; */
    margin: 0 auto;
    color: #fff;
    padding: 4px 13px;
    border-radius: 12px;
    margin-top: 20px;
    margin-bottom: 30px
}

.service-col-1,
.service-col-2,
.service-col-3 {
    text-align: center;
}

section.sec-5 ul li {
    list-style: none;
    font-weight: 500;
    color: #929498;
    font-size: 18px;
}

section.sec-5 ul {
    padding-left: 0px
}

.sec-5 .service-col-3 h3 {
    padding: 4px 35px;
}

.section-6-bg {
    background: url(../img/joone-mob-bg.png);
    background-size: cover;
    background-position: top left;
}

section.sec-6 .col-inner-content p {
    color: #403f41;
    font-weight: 600;
}

img.play-btns {
    width: 190px;
}

h3.app-h3 {
    padding-bottom: 9px;
    position: relative;
    z-index: -0;
    width: 100%;
    padding-right: 55px;
    display: block;
    font-size: 50px;
    color: #fff;
    margin-bottom: 17px;
    padding-top: 5px;
}

h3.app-h3:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00b2e2;
    left: -51px;
    top: 0;
    z-index: -99;
}

.footer-bg {
    background: #9d27b4;
    padding-top: 20px;
    padding-bottom: 20px;
}

ul.footer-links li {
    display: inline-flex;
    padding-right: 40px;
}

ul.footer-links,
ul.footer-social {
    margin-bottom: 0px
}

ul.footer-links li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none !important;
}

ul.footer-social li {
    display: inline-block;
    margin: 0 15px;
}

ul.footer-social li a i {
    width: 50px;
    height: 50px;
    background: #fff;
    font-size: 35px;
    border-radius: 50%;
    text-align: center;
    padding-top: 8px;
    color: #9d27b4;
}

.joone-mob-col {
    z-index: 9;
}

.joone-footer-logo img {
    height: 60px;
}

.joone-footer-logo {
    text-align: center;
}

footer {
    /* padding-top: 50px; */
}

section.sec-6 {
    padding-bottom: 80px;
    padding-top: 40px;
}

.section-3-bg {
    background: url(../img/conv-bg.png);
    background-size: cover;
    background-position: top left;
}


/*Register seller form*/

.services-list-section fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: flex-start;
    min-width: 400px;
}

.services-list-section label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.services-list-section input {
    position: relative !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 8px;
    box-sizing: content-box;
    overflow: hidden;
}

.services-list-section input:before {
    content: "";
    display: block;
    box-sizing: content-box;
    width: 16px;
    height: 16px;
    border: 2px solid #ccc;
    transition: 0.2s border-color ease;
}

.services-list-section input:checked:before {
    border-color: #12cbc4;
    transition: 0.5s border-color ease;
}

.services-list-section input:disabled:before {
    border-color: #ccc;
    background-color: #ccc;
}

.services-list-section input:after {
    content: "";
    display: block;
    position: absolute;
    box-sizing: content-box;
    top: 50%;
    left: 50%;
    transform-origin: 50% 50%;
    background-color: #12cbc4;
    width: 16px;
    height: 16px;
    border-radius: 100vh;
    transform: translate(-50%, -50%) scale(0);
}

.services-list-section input[type="radio"]:before {
    border-radius: 100vh;
}

.services-list-section input[type="radio"]:after {
    width: 16px;
    height: 16px;
    border-radius: 100vh;
    transform: translate(-50%, -50%) scale(0);
}

.services-list-section input[type="radio"]:checked:after {
    -webkit-animation: toggleOnRadio 0.2s ease forwards;
    animation: toggleOnRadio 0.2s ease forwards;
}

.services-list-section input[type="checkbox"]:before {
    border-radius: 4px;
}

.services-list-section input[type="checkbox"]:after {
    width: 9.6px;
    height: 16px;
    border-radius: 0;
    transform: translate(-50%, -85%) scale(0) rotate(45deg);
    background-color: transparent;
    box-shadow: 4px 4px 0px 0px #12cbc4;
}

.services-list-section input[type="checkbox"]:checked:after {
    -webkit-animation: toggleOnCheckbox 0.2s ease forwards;
    animation: toggleOnCheckbox 0.2s ease forwards;
}

.services-list-section input[type="checkbox"].filled:before {
    border-radius: 4px;
    transition: 0.2s border-color ease, 0.2s background-color ease;
}

.services-list-section input[type="checkbox"].filled:checked:not(:disabled):before {
    background-color: #12cbc4;
}

.services-list-section input[type="checkbox"].filled:not(:disabled):after {
    box-shadow: 4px 4px 0px 0px white;
}

@-webkit-keyframes toggleOnCheckbox {
    0% {
        opacity: 0;
        transform: translate(-50%, -85%) scale(0) rotate(45deg);
    }
    70% {
        opacity: 1;
        transform: translate(-50%, -85%) scale(0.9) rotate(45deg);
    }
    100% {
        transform: translate(-50%, -85%) scale(0.8) rotate(45deg);
    }
}

@keyframes toggleOnCheckbox {
    0% {
        opacity: 0;
        transform: translate(-50%, -85%) scale(0) rotate(45deg);
    }
    70% {
        opacity: 1;
        transform: translate(-50%, -85%) scale(0.9) rotate(45deg);
    }
    100% {
        transform: translate(-50%, -85%) scale(0.8) rotate(45deg);
    }
}

@-webkit-keyframes toggleOnRadio {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
    }
    70% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(0.9);
    }
    100% {
        transform: translate(-50%, -50%) scale(0.8);
    }
}

@keyframes toggleOnRadio {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
    }
    70% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(0.9);
    }
    100% {
        transform: translate(-50%, -50%) scale(0.8);
    }
}

.register-heading img {
    width: auto;
    padding: 0px;
    height: 40px;
}

.register-heading h3 {
    width: auto;
    padding-top: 0px;
    font-family: adelline;
    font-weight: 700;
}

.reg-seller-page {
    padding-top: 50px;
    padding-bottom: 80px;
}

.row.register-heading {
    justify-content: right;
    padding-bottom: 40px;
}

.register-stylist input[type="text"],
.register-stylist input[type="email"],
.register-stylist textarea,
.register-stylist input[type="number"],
.register-stylist input[type="date"],
.register-stylist input[type="time"],
.right-login-form input[type="text"],
input[type="password"] {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #000;
    border-radius: 0px
}

.register-stylist input[type="tel"] {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #000;
    border-radius: 0px
}

.register-stylist select {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #000;
    border-radius: 0px
}

.sub-btn-row input[type="submit"] {
    background-color: #00b2e2;
    color: #fff;
    border: 0;
    width: 190px;
    padding: 8px;
    font-weight: 700;
    border-radius: 30pc;
}

.reg-headline-bg {
    background: #731C82;
    color: #fff;
}

.reg-headline-bg p {
    color: #fff;
    font-size: 17px;
    padding: 10px 0px;
}

section.services-list-section {
    padding-top: 10px;
}

section.services-list-section h4 {
    color: #000;
    font-weight: 600;
    padding: 8px 0px;
    font-size: 30px;
}

.services-list-section fieldset {
    margin-left: 0px;
}

.services-list-section fieldset {
    color: #000;
    font-size: 16px;
    font-weight: 500;
}

.services-list-section input {
    margin-bottom: 5px;
}

section#reg-stylist {
    padding-bottom: 10px;
}

.sub-btn-parent {
    text-align: right;
}


/*Register seller form*/


/*BOOKING PAGE CSS*/

.booking-btn-reg {
    margin-top: 50px;
}

.booking-footer-img img {
    position: relative;
    top: -50px;
    width: 100%;
}

img.booking-p-logo {
    width: 149px;
}

.wrapper.booking-page {
    padding-top: 45px;
}

h3.book-now.book-now-heading {
    font-family: adelline;
    text-align: right;
    font-size: 40px;
}

.row.list-booking-page {
    padding-top: 35px;
}

.main-login {
    height: 100vh;
}

.login-page-left-img {
    background: url('../img/Login-left-img.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-right-flex {
    display: flex;
    height: 90vh;
    align-items: center;
}

.login-pg-logo img {
    width: 145px;
}

.login-pg-heading h2 {
    font-size: 26px;
    margin-bottom: 60px;
    position: relative;
}

.remember-me fieldset {
    color: #00B3E3;
}

.col.forgot-pass {
    /* padding-top: 22px; */
    margin: 20px;
    padding-top: 3px;
}

.col.forgot-pass a {
    color: #84b3e3;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.login-pg-heading h2:before {
    content: "";
    position: absolute;
    width: 69px;
    height: 3px;
    background-color: #9e27b5;
    bottom: -4px;
}

.login-social ul.footer-social li a i {
    background: #00b3e387;
    color: #fff;
}

.login-social ul.footer-social {
    padding-left: 0px
}

.login-social ul.footer-social li {
    margin-left: 0px
}

.login-social {
    margin-top: 50px;
}

.remember-me {
    padding-top: 50px;
}

.login-pg-logo {
    padding-top: 30px;
}


/*BOOKING PAGE CSS*/


/*  MOBILE RESPONSIVE START HERE  */

@media only screen and (min-width: 1200px) and (max-width: 1500px) {
    h1.banner-heading {
        font-size: 87px !important;
    }
    h3.banner-2-heading {
        font-size: 30px;
    }
    h3.app-h3 {
        font-size: 35px;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1199px) {
    h1.banner-heading {
        font-size: 83px !important;
    }
    h3.banner-2-heading {
        font-size: 30px;
    }
    h3.app-h3 {
        font-size: 30px;
    }
}

@media only screen and (max-width:767px) {
    .banner-inner-content {
        position: absolute;
        left: 23px;
    }
    .banner-inner-content h3 {
        font-size: 19px;
    }
    .banner-inner-content p {
        font-size: 14px !important;
        max-width: 68%;
    }
}

@media only screen and (max-width:690px) {
    h1 {
        font-size: 47px;
    }
    h3 {
        font-size: 20px;
    }
    .banner-inner-content p {
        font-size: 13px;
    }
    html,
    body {
        overflow-x: hidden;
    }
    img.sec-2-logo {
        padding-top: 0px;
    }
    p {
        font-size: 13px;
    }
    section.sec-5 h2 {
        font-size: 16px;
    }
    img.joone-mob {
        height: 400px;
        width: auto;
        margin: 0 auto;
        /* text-align: center; */
    }
    .joone-mob-col {
        text-align: center;
    }
    h3.app-h3 {
        font-size: 20px;
        color: #fff;
        margin-bottom: 17px;
        padding-top: 5px;
        width: 100%;
    }
    .banner-inner-content p br {
        display: none;
    }
    section.sec-3 .col-content {
        padding-right: 0px;
    }
    footer {
        text-align: center;
    }
    ul.footer-social {
        margin: 0 auto;
        padding-left: 0px;
    }
    .footer-bg {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .joone-footer-logo {
        margin: 40 0;
    }
    ul.footer-links li {
        display: block;
    }
    ul.footer-links {
        margin: 0 auto;
    }
    .sec-inner-contet {
        padding-left: 0px;
    }
    .col-content.d-flex {
        text-align: center;
        /* width:100%; */
    }
    h3.app-h3:before {
        left: 0px;
    }
    .col-inner-content {
        width: 100%;
    }
    section.sec-6 .col-inner-content {
        padding-top: 40px;
    }
}

@media only screen and (max-width:575px) {
    .col-content {
        text-align: center;
    }
    .col-reverse-mobile {
        flex-direction: column-reverse;
    }
    .image-center-mob img {
        width: 200px;
    }
    .image-center-mob {
        text-align: center;
        padding-bottom: 30px;
    }
    .section-1-bg {
        background-color: #ecf9c4 !important;
        background: none;
    }
    .banner-inner-content {
        text-align: center;
    }
    .banner-inner-content p {
        max-width: none !important;
    }
    h1.why-heading {
        font-size: 50px !important;
    }
    h1.questionMark {
        font-size: 50px !important;
        padding-left: 10px !important;
    }
    img.sec-2-logo {
        width: 100px !important;
        height: 50px !important;
    }
    h3.sec-2-subHeading {
        font-size: 16px !important;
    }
    .DvSubHeading {
        padding-top: 10px;
    }
}

@media only screen and (max-width:459px) {
    .col.google-play-btn {
        max-width: 100% !important;
    }
    .col.app-store-col {
        padding-left: 15px !important;
        padding-top: 20px;
    }
}

@media only screen and (max-width:992px) {
    h1.banner-heading {
        font-size: 48px;
    }
    h1.why-heading {
        font-size: 71px;
    }
    h1.questionMark {
        font-size: 65px;
    }
    img.sec-2-logo {
        width: 170px;
        height: 70px;
    }
    h3 {
        font-size: 21px;
    }
    .banner-inner-content p {
        font-size: 16px;
    }
    html,
    body {
        overflow-x: hidden;
    }
    img.sec-2-logo {
        padding-top: 0px;
    }
    p {
        font-size: 16px;
    }
    section.sec-5 h2 {
        font-size: 20px;
    }
    img.joone-mob {
        height: 400px;
        width: auto;
        margin: 0 auto;
        /* text-align: center; */
    }
    .joone-mob-col {
        text-align: center;
    }
    h3.app-h3 {
        font-size: 20px;
        color: #fff;
        margin-bottom: 17px;
        padding-top: 5px;
        width: 100%;
    }
    .banner-inner-content p br {
        display: none;
    }
    section.sec-3 .col-content {
        padding-right: 0px;
    }
    footer {
        text-align: center;
    }
    ul.footer-social {
        margin: 0 auto;
        padding-left: 0px;
    }
    .footer-bg {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .joone-footer-logo {
        margin: 40 0;
    }
    ul.footer-links li {
        display: block;
    }
    ul.footer-links {
        margin: 0 auto;
        padding-left: 0px;
    }
    .sec-inner-contet {
        padding-left: 0px;
    }
    h3.app-h3:before {
        left: 0px;
    }
    .col-inner-content {
        width: 100%;
    }
    section.sec-6 .col-inner-content {
        padding-top: 40px;
    }
    .col.google-play-btn {
        max-width: 100% !important;
    }
    .col.app-store-col {
        padding-left: 15px !important;
    }
    ul.footer-social li a i {
        width: 40px;
        height: 40px;
        background: #fff;
        font-size: 25px;
    }
    ul.footer-social li {
        display: inline-block;
        margin: 0 10px;
    }
    ul.footer-links li {
        padding-right: 0px;
    }
    div#navbarNavDropdown {
        text-align: center;
        padding-top: 20px;
    }
    header .navbar img {
        width: 150px;
        margin-right: auto;
        display: block;
    }
    h3.app-h3 {
        text-align: center;
    }
}


/*MOBILE RESPONSIVE START HERE*/


/* Salon anD Spa*/

.leafImg img {
    width: 45%;
}

h1.SalonRightHeading,
h1.SpaRightHeading {
    font-size: 110px;
}


/* .leafImg {
    position: absolute;
    left: 0;
    width: 20%;
} */

.salonContent {
    background-color: #feffee !important;
}

.spaContent {
    background-color: #e1f4f9 !important;
}

.flowerImg {
    position: absolute;
    left: 0;
    width: 18%;
}

.bottleImg img {
    padding-bottom: 25px;
}

.waxCol span,
.facialCol span,
.threadingCol span,
.nailCol span,
.hairCol span,
.makeupCol span,
.hennaCol span,
.massageCol span,
.facial2Col span {
    font-size: 19px;
}

@media only screen and (max-width:992px) {
    h1.SalonRightHeading,
    h1.SpaRightHeading {
        font-size: 80px;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1129px) {
    h1.SalonRightHeading,
    h1.SpaRightHeading {
        font-size: 75px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 830px) {
    h1.SalonRightHeading,
    h1.SpaRightHeading {
        font-size: 72px;
    }
}

@media only screen and (min-width: 767px) and (max-width: 991px) {
    .waxCol,
    .facialCol,
    .threadingCol,
    .nailCol,
    .hairCol,
    .makeupCol,
    .hennaCol,
    .massageCol,
    .facial2Col {
        padding-bottom: 20px;
    }
    .waxCol span,
    .facialCol span,
    .threadingCol span,
    .nailCol span,
    .hairCol span,
    .makeupCol span,
    .hennaCol span,
    .massageCol span,
    .facial2Col span {
        font-size: 16px !important;
    }
}

@media only screen and (max-width:767px) {
    .waxCol,
    .facialCol,
    .threadingCol,
    .nailCol,
    .hairCol,
    .makeupCol,
    .hennaCol,
    .massageCol,
    .facial2Col {
        padding-right: 20px;
        padding-left: 25px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    h1.SalonRightHeading,
    h1.SpaRightHeading {
        font-size: 90px;
        text-align: center;
        padding-bottom: 20px;
    }
    .waxCol span,
    .facialCol span,
    .threadingCol span,
    .nailCol span,
    .hairCol span,
    .makeupCol span,
    .hennaCol span,
    .massageCol span,
    .facial2Col span {
        font-size: 16px !important;
    }
    .massageCol,
    .facial2Col {
        text-align: center;
    }
}


/* 
.NailImg {
    position: relative;
    left: 80%;
    width: 20%;
} */